h2 {
    margin: 0%;
    padding: 0%;
}

.sobreMi__descripcion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.segunda__columna {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    align-content: center;
}

h3 {
    margin-top: 40px;
    margin-left: 35px;
    padding: 0%;
    text-align: center;
    margin-bottom: 0%;
}

.habilidades {
    display: grid;
    justify-content: center;
}

.habilidades__categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cada__habilidad {
    margin-left: 0%;
    padding: 0%;
    text-align: center;
    color: aliceblue;
    margin-bottom: 20px;
    margin-top: 20px;

    transition: all .7s ease;
}

.cada__habilidad:hover {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
}

.imagen {
    margin: 0%;
    padding: 0%;
}