:root {
    --background-color: #0d0f1d;
}

body {
    background-color: var(--background-color);
    padding: 0;
    margin: 0;
}

h2 {
    color: #AE7098;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    list-style-type: none;
}

h3 {
    color: #AE7098;
}

.h {
    width: 10%;
    height: 2px;
    border: 0 none;
    border-radius: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #e184b7;
}

.padre__p {
    height: 20px;
    margin: 2rem auto;
    position: relative;
    text-align: center;
    width: 500px;
}

p {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    color: azure;
}

@media screen and (max-width:768px) {

    h2 {
        color: #AE7098;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }

    .padre__p {
        height: 20px;
        margin: 2rem auto;
        position: relative;
        text-align: center;
        width: 200px;
    }

    p {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
        color: azure;
        font-size: 8px;
    }

}