header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #CA5698;
    top: 0;
    height: 80px;
    position: sticky;
    background-color: var(--background-color);
    z-index: 50;
    box-shadow: 0 -5px 15px 5px #CA5698;

}

/* mail */
.mail {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 17%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    animation: fadeIn 2s ease;
}


.mail__icono {
    display: flex;
    margin-right: 5px;
    margin-top: 9px;
}

a {
    text-decoration: none;
    list-style-type: none;
}

a:link {
    color: aliceblue;
}


/* menu */
nav {
    display: flex;
    align-items: center;
    margin-right: 40px;
    transition: all 0.6s ease;
    animation: fadeIn 2s ease;
}

.menu {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    gap: 20px;
    overflow: visible;
    margin: 0;
}

.seccion {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 32px;
}

.seccion .seccion_link {
    padding: 2px 10px;
    border: 1px solid #CA5698;
    border-radius: 5px;
}

.seccion_link:link {
    color: #CA5698;
}

.seccion_link:visited {
    color: #CA5698;
}

.seccion:hover {
    color: #b84285;
    transform: scale(1.1);
}

.seccion_link:hover {
    transform: scale(1.1);
}

/* aside */

aside {
    margin-top: 200px;
    float: left;
    overflow: hidden;
    transition: all 0.7s ease;
    animation: fadeIn 2s ease;
}

.aside__menu {
    margin: 0%;
    padding: 5%;
}

.aside__icono {
    margin: 10px 0;
    margin-left: 10px;
}

.aside__icono:hover {
    transform: scale(1.1);
}

/* principal pagina */

.cero {
    display: grid;
    grid-template-columns: 100px 350px 20px;
    padding: 0%;
    margin: 0%;
}

.mi__ser {
    position: relative;
    top: 100px;
    margin-bottom: 150px;
    animation: fadeIn 2s ease;
}

h1 {
    display: grid;
    position: relative;
    padding: 0%;
    margin: 0%;
    color: #CD82B2;
    font-size: 120px;
    margin-left: 50%;
    animation: fadeIn 2s ease;
}

.mi__descripcion {
    color: aliceblue;
    text-align: justify;
    margin-left: 50%;
}

.mi__gif {
    position: relative;
    display: grid;
    margin-left: 900px;
    margin-top: 300px;
    height: 300px;
}

/* boton Lets Talk */

.btn_posicion {
    position: relative;
    margin-top: 40px;
    margin-bottom: 150px;
    margin-left: 340px;
}

.boton {
    position: relative;
    padding: 30px 32px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 4px;
    text-indent: 10px;
    z-index: 2;
    transition: all 0.6s ease;
    font-size: 30px;
    animation: fadeIn 2s ease;
}

.boton::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 110%;
    left: -10%;
    top: 0;
    transform: skew(20deg, 0deg);
    background-color: #ffffff;
    z-index: -1;
    transition: all 0.4s ease;
}

.boton::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: skew(20deg, 0deg);
    border: 3px solid #b84285;
    transition: all 0.4s ease;
    z-index: -1;
}

.boton:hover::after {
    background-color: #ffffff31;
    transform: skew(20deg, 0deg) translateX(257px);
}

.boton:hover::before {
    background-color: #CD82B2;
    border: 3px solid #b84285;
    transform: skew(20deg, 0deg) scale(1.1);
}

@media screen and (min-width:1280px) and (max-width:1700px) {
    .mi__gif {
        position: relative;
        display: grid;
        margin-left: 470px;
        margin-top: 300px;
        height: 300px;
    }
}

@media screen and (max-width:768px) {
    header {
        height: 60px;
        padding: 0 10px;
    }

    .mail {
        position: relative;
        display: flex;
        flex-direction: row;
        margin-left: 0;
    }

    .mail__nombre {
        width: 0;
        visibility: hidden;
    }

    .mail__icono {
        margin-top: 4px;
    }


    .seccion {
        margin-left: 5px;
        transition: .5s;
    }

    aside {
        margin-top: 200px;
    }

    .aside__menu {
        margin-left: 20px;
        padding: 3%;
    }

    .aside__icono {
        margin: 5px 0;
        height: 2.5em;
    }

    .mi__ser {
        margin-top: 70px;
        width: 120px;
        margin-bottom: 300px;
    }

    .mi__gif {
        display: none
    }


    .cero {
        display: grid;
        grid-template-columns: 70px 80px 50px;
        padding: 0%;
        margin: 0%;
    }

    h1 {
        font-size: 45px;
    }

    .mi__descripcion {
        text-align: start;
    }



    nav {
        margin: 0;
    }

    .menu {
        gap: 0px;
    }

    .seccion {
        font-size: 13px;
    }

    .seccion .seccion_link {
        padding: 0.5px 5px;
    }


    .btn_posicion {
        margin-top: 0px;
        margin-bottom: 200px;
        margin-left: 20%;
    }

    .boton {
        padding: 10px 22px;
        text-decoration: none;
        color: #fff;
        letter-spacing: 4px;
        text-indent: 5px;
    }

    .boton:hover::after {
        transform: skew(20deg, 0deg) translateX(237px);
    }
}

@media screen and (min-width:900px) and (max-width:1280px) {
    header {
        height: 60px;
    }

    /* mail */
    .mail {
        margin-left: 6%;
        font-size: 15px;
    }


    .mail__icono {
        display: flex;
        margin-right: 5px;
        margin-top: 9px;
    }

    nav {
        margin-right: 20px;
    }

    .menu {
        gap: 20px;
    }

    .seccion {
        font-size: 20px;
    }

    .seccion .seccion_link {
        padding: 2px 5px;
    }


    aside {
        margin-top: 250px;
    }

    .aside__menu {
        padding: 3%;
    }

    .aside__icono {
        margin-left: 15px;
    }


    .cero {
        display: grid;
        grid-template-columns: 90px 180px 20px;
    }

    .mi__ser {
        top: 160px;
        margin-bottom: 160px;
    }

    h1 {
        font-size: 80px;
        margin-left: 50%;
    }



    .btn_posicion {
        margin-left: 180px;
    }

    .mi__gif {
        position: relative;
        display: grid;
        margin-left: 370px;
        margin-top: 200px;
    }

    .gif {
        width: 15em;
        height: 15em;
    }
}

@media screen and (min-width:768px) and (max-width:900px) {
    header {
        height: 60px;
    }

    /* mail */
    .mail {
        margin-left: 6%;
        font-size: 15px;
    }


    .mail__icono {
        display: flex;
        margin-right: 5px;
        margin-top: 9px;
    }

    nav {
        margin-right: 20px;
    }

    .menu {
        gap: 20px;
    }

    .seccion {
        font-size: 20px;
    }

    .seccion .seccion_link {
        padding: 2px 5px;
    }


    aside {
        margin-top: 250px;
    }

    .aside__menu {
        padding: 3%;
    }

    .aside__icono {
        margin-left: 15px;
    }


    .cero {
        display: grid;
        grid-template-columns: 90px 180px 20px;
    }

    .mi__ser {
        top: 160px;
        margin-bottom: 160px;
    }

    h1 {
        font-size: 80px;
        margin-left: 50%;
    }



    .btn_posicion {
        margin-left: 180px;
    }

    .mi__gif {
        position: relative;
        display: grid;
        margin-left: 240px;
        margin-top: 200px;
    }

    .gif {
        width: 15em;
        height: 15em;
    }
}