:root {
    --background-color: #0d0f1d;
}

body {
    background-color: var(--background-color);
    padding: 0;
    margin: 0;
}

h2 {
    color: #AE7098;
    display: flex;
    justify-content: center;
    font-size: 50px;
    animation: fadeIn 2s ease;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    list-style-type: none;
}

h3 {
    font-size: 35px;
    color: #AE7098;
}

.h {
    width: 10%;
    height: 5px;
    border: 0 none;
    border-radius: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #e184b7;
    animation: fadeIn 2s ease;
}

.padre__p {
    height: 20px;
    margin: 2rem auto;
    position: relative;
    text-align: center;
    width: 900px;
}

p {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    color: azure;
    font-size: 25px;
    animation: fadeIn 2s ease;
}

.espacio {
    height: 90px;
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
        filter: 20px;
    }

    5% {
        opacity: 1%;
        filter: brightness(1) blur(2px);
    }
}

@keyframes fadeIn2 {
    0% {
        opacity: 10%;
        color: #AE7098;
    }

    5% {
        filter: brightness(2);
        color: #e184b7;
    }
}




@media screen and (max-width:768px) {

    h2 {
        color: #AE7098;
        justify-content: center;
        font-size: 40px;
    }

    .h {
        width: 20%;
        height: 3px;
    }

    h3 {
        font-size: 25px;
    }

    .padre__p {
        height: 20px;
        margin: 1rem auto;
        width: 300px;
    }

    p {
        width: 100%;
        font-size: 13px;
    }

    .espacio {
        height: 70px;
    }
}

@media screen and (min-width:768px) and (max-width:1280px) {

    .h {
        width: 10%;
        height: 3px;
        border-radius: 90%;
    }

    .padre__p {
        width: 600px;
    }

    p {
        font-size: 20px;
    }

    h2 {
        font-size: 45px;
    }

    h3 {
        font-size: 30px;
    }

    .espacio {
        height: 90px;
    }
}